<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template2">
<head>
<meta charset="utf-8"/>
<title>Ajoute d'un nouveaux superviseur</title>
</head>
<body>
<div layout:fragment="content">
	
	
	<div class="col-md-12">
	<div class="panel panel-primary" >
	<div class="panel-heading"><img alt="a propos" src="/images/apropos.png" height="40" width="30">A propos de ce travaille </div>
	<div class="panel-body">
		had lkhdema m3awni fiha hta old l9af men rir si lyoussfi o si salah btadakholat li katdir l2itmi2nana :)
	</div>
	</div>
	</div>	
	
	</div>
		
	
	


</body>
</html>