<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1">
<head>
<meta charset="utf-8"/>
<title>Ereur</title>
</head>
<body>
<div layout:fragment="content">
	
	
	<div class="col-md-12">
	<div class="panel panel-primary" >
	<div class="panel-heading"><img alt="a propos" src="/images/apropos.png" height="40" width="30">Erreur</div>
	<div class="panel-body">
	essayer de routourne et inserer des donner corect
	</div>
	</div>
	</div>	
	
	</div>
		
	
	


</body>
</html>