<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template2">
<head>
<meta charset="utf-8"/>
<title>votre profil</title>
</head>
<body>
<div layout:fragment="content">
	<div class="col-md-4">
	<div class="panel panel-primary">
	<div class="panel-heading"><img alt="logo profil" src="/images/superviseur.png" height="30" width="30"> votre profil</div>
	<div class="panel-body">
	<div>	<label> ID:</label> </div>
	<div>	<label> Prenom:</label></div>
	<div>	<label> Nom:</label></div>
	<div>	<label> MDP:</label></div>
	<div>	<label> description:</label></div>
	<div>	<label> date de creation:</label></div>
	</div>
	</div>
	</div>	
	
	
	
	
</div>

</body>
</html>